@-webkit-keyframes fadeUpCenter {
  to {
    opacity: 1;
    top: 50%;
  }
}

@keyframes fadeUpCenter {
  to {
    opacity: 1;
    top: 50%;
  }
}

@-webkit-keyframes showFade {
  to {
    opacity: 1;
  }
}

@keyframes showFade {
  to {
    opacity: 1;
  }
}

html, body {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

button:focus {
  outline: transparent;
}

.mg-top-20 {
  margin-top: 20px;
}

.mg-top-30 {
  margin-top: 30px;
}

.mg-top-40 {
  margin-top: 40px;
}

.mg-btm-10 {
  margin-bottom: 10px;
}

.mg-btm-20 {
  margin-bottom: 20px;
}

.mg-btm-30 {
  margin-bottom: 30px;
}

.mg-btm-40 {
  margin-bottom: 40px;
}

.mg-btm-50 {
  margin-bottom: 50px;
}

.mg-btm-60 {
  margin-bottom: 60px;
}

.mg-btm-70 {
  margin-bottom: 70px;
}

.mg-btm-100 {
  margin-bottom: 100px;
}

.pad-01 {
  padding-top: 60px;
  padding-bottom: 100px;
}

.pad-y-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pad-y-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.pad-y-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.no-padding {
  padding: 0;
}

.no-padLeft {
  padding-left: 0;
}

.no-padRight {
  padding-right: 0;
}

.titulo h2 {
  font-size: 4rem;
  font-weight: 900;
}

.titulo_blue h2 {
  color: #00448d;
  font-family: Nunito-bold;
}

.img_fit {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

@font-face {
  font-family: Nunito-light;
  src: url(/wps/wcm/connect/77159c44-d635-42ee-ab7e-1d1dd492bef9/Nunito-Light.ttf?MOD=AJPERES) format("truetype");
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: Nunito-regular;
  src: url(/wps/wcm/connect/2e03d56e-ba27-4a87-a694-346fea50546b/Nunito-Regular.ttf?MOD=AJPERES) format("truetype");
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: Nunito-semibold;
  src: url(/wps/wcm/connect/5788c0c5-4c17-4e27-a0b0-998ba5401e6d/Nunito-SemiBold.ttf?MOD=AJPERES) format("truetype");
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: Nunito-bold;
  src: url(/wps/wcm/connect/baf0ee1f-db35-4865-9b9c-a2d8d430f35e/Nunito-Bold.ttf?MOD=AJPERES) format("truetype");
  font-weight: 700;
  font-display: auto;
}

@font-face {
  font-family: Open-sans-light;
  src: url(/wps/wcm/connect/245162bd-4f56-41f6-8f3d-6f010e346e73/OpenSans-Light.ttf?MOD=AJPERES) format("truetype");
  font-display: auto;
}

@font-face {
  font-family: Open-sans-regular;
  src: url(/wps/wcm/connect/1d618dfc-5bc4-45e9-a532-8f87113c8bbc/OpenSans-Regular.ttf?MOD=AJPERES) format("truetype");
  font-display: auto;
}

@font-face {
  font-family: Open-sans-semibold;
  src: url(/wps/wcm/connect/133f20ad-daf1-4cdf-ad95-0fee9655da68/OpenSans-SemiBold.ttf?MOD=AJPERES) format("truetype");
  font-display: auto;
}

@font-face {
  font-family: Open-sans-bold;
  src: url(/wps/wcm/connect/62915a7b-e1ec-43d6-9f1c-eb77397902db/OpenSans-Bold.ttf?MOD=AJPERES) format("truetype");
  font-display: auto;
}

@font-face {
  font-family: FontAwesome;
  src: url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
}

.slider {
  margin-bottom: 6rem;
  position: relative;
}

.slider_item {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 356px;
  background-position: center !important;
}

@media (max-width: 480px) {
  .slider_item {
    background: none !important;
  }
}

.slider_item .item-center {
  padding: 5% 0;
}

@media (max-width: 480px) {
  .slider_item .item-center {
    padding: 0 15px;
  }
}

.slider_item .col-right-slid {
  visibility: hidden;
}

@media (max-width: 575px) {
  .slider_item .col-right-slid {
    padding: 0;
    background-position: 30% top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    min-height: 320px;
    visibility: visible;
  }
}

@media (max-width: 575px) {
  .slider_item .info-slide {
    padding: 8% 8% 0 8%;
  }
  .slider_item .info-slide .slider_desc p {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .slider_item .info-slide h2 {
    font-size: 4.5rem;
  }
  .slider_item .info-slide p {
    padding-right: 0;
    font-size: 1.5rem;
  }
}

.slider_desc {
  margin: 0 auto;
}

.slider_desc small {
  font-size: 1.8rem;
  font-weight: 700;
}

.slider_desc h2 {
  font-size: 5.6rem;
  color: #ffd200;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 1;
}

.slider_desc p {
  font-size: 1.9rem;
  padding-right: 12rem;
  line-height: 1.4;
  color: #808285;
  font-family: Nunito-regular;
}

.slider_desc--main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_desc--main > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_btn a {
  min-width: 15.8rem;
  display: inline-block;
  font-size: 1.6rem !important;
}

.content_slider {
  background-color: #e6e7e8;
  padding: 35px 104px;
}

@media (max-width: 575px) {
  .content_slider {
    padding: 35px 0;
  }
}

@media (max-width: 767px) {
  .content_slider {
    padding: 35px 25px;
  }
}

.content_slider .slick-arrow {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.content_slider .slick-arrow::before, .content_slider .slick-arrow::after {
  font-weight: 800;
  color: #454648;
  opacity: 1;
  font-size: 24px;
}

.content_slider .slick-next {
  right: -9%;
}

.content_slider .slick-next::before {
  display: block;
  width: 18px;
  height: 41px;
  position: absolute;
  background: url(../../images/iconos/derecha-carrusel.svg) no-repeat;
  top: 31%;
  left: 39%;
  font-size: 0;
}

.content_slider .slick-prev {
  left: -9%;
}

.content_slider .slick-prev::before {
  display: block;
  width: 18px;
  height: 41px;
  position: absolute;
  background: url(../../images/iconos/izquierda-carrusel.svg) no-repeat;
  top: 32%;
  left: 35%;
  font-size: 0;
}

.slider-main .slick-dots {
  position: absolute;
  bottom: 5%;
}

@media (max-width: 575px) {
  .slider-main .slick-dots {
    top: 44%;
    bottom: 0;
  }
}

.slider-main .slick-dots li {
  margin: 0 13px;
  height: auto;
  width: auto;
  position: relative;
}

.slider-main .slick-dots li button {
  height: auto;
  width: auto;
}

.slider-main .slick-dots li button::before {
  color: #747779;
  background-color: #747779;
  border-radius: 50%;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.slider-main .slick-dots li::after {
  content: '';
  background-color: #747779;
  height: 1px;
  left: 107%;
  top: 55%;
  position: absolute;
  width: 26px;
}

.slider-main .slick-dots li:last-child::after {
  content: none;
}

.slider-main .slick-dots .slick-active button::before {
  border: solid #fff 1px;
  color: #ffd200;
  background-color: #ffd200;
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.banner-first {
  font-family: "Nunito", sans-serif;
}

.relevantes {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.relevantes .titulo_blue h2 {
  font-size: 3rem;
  font-family: Nunito-bold;
}

@media (max-width: 760px) {
  .relevantes .titulo_blue h2 {
    padding: 0 15px;
    font-size: 2rem;
  }
}

.tarjeta_item {
  position: relative;
  margin: 1.6rem;
}

.tarjeta_item figure {
  margin: 0;
}

.tarjeta_item figure img {
  width: 100%;
}

.tarjeta_desc {
  position: absolute;
  bottom: 20px;
  padding: 2rem;
}

.tarjeta_desc h3 {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.tarjeta_desc p {
  font-size: 14px;
}

.tarjeta_btn {
  max-width: 24.8rem;
  margin: 2rem auto 0;
}

.tarjeta_btn a {
  border-radius: 4rem;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem !important;
  text-align: left;
  color: #fff;
  padding: 3px !important;
  width: 80% !important;
  display: block;
}

/*# sourceMappingURL=maps/main.css.map */
