//Buttons
.button{
	a{
		background:$bg-yellow;
		@include border-radius(4rem);
		text-transform: uppercase;
		font-family: $nunito;
		font-size: 2rem;
		text-align: center;
		color: $black;
		padding: .5rem;
	}
}

