.relevantes{
	position: relative;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	// &:before{
	// 	@include seudo-elm();
	// 	background: rgba(230, 231, 232, 0.2);
	// 	margin: auto;
	// 	left: 0;

	// 	right: 0;
	// 	top: 0;
	// 	bottom: 0;
	// 	height: 100%;
	// 	width: 84%;
	// }

	.titulo_blue h2 {
		font-size: 3rem;
		font-family: Nunito-bold;
		@media (max-width: 760px){
			padding: 0 15px;
			font-size: 2rem;
		}
	}
}

.tarjeta{
	&_item{
		position: relative;
		margin: 1.6rem;
		figure{
			margin: 0;
			img {width: 100%;}
		}
	}
	&_desc{
		position: absolute;
		bottom: 20px;
		padding: 2rem;
		h3{
			font-size: 2.8rem;
			font-weight: 700;
			font-family: $nunito;
		}
		p {font-size: 14px;}
	}
	&_btn{
		max-width: 24.8rem;
		margin: 2rem auto 0;

		a {
			border-radius: 4rem;
			text-transform: uppercase;
			font-family: "Nunito", sans-serif;
			font-size: 1.5rem !important;
			text-align: left;
			color: #fff;
			padding: 3px !important;
			width: 80% !important;
			display: block;
		}

	}
}
