#descarga {

	padding: 40px;

	.descarga{
		.container{
			>div{
				align-items: center;
			}
		}
		&_btns{
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			background: $bg-gray2;
			text-align: center;
			padding: 6rem 0;
			a{
				margin:2rem 0;
				min-width: 26.0rem;
				display: inline-block;
			}
		}
	}

	.descarga_enlace {
		a {
			img {
				height: auto !important;
				@media (max-width: 576px) {
					padding-bottom: 20px;
				}
			}
		}
	}
}
