//------ Animations ------
@keyframes fadeUpCenter {
    to {
       opacity: 1;
       top: 50%;
    }
}
@keyframes showFade {
    to {
        opacity: 1;
    }
}

//------ Tags ------
html, body {
    font-size: 62.5%;
}
body {
    background-color: $white;
    color: $white;
    font-size: 1.6rem;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: $white;
}
ul {
    margin:0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: currentColor;
    &:hover {
        color: currentColor;
        text-decoration: none;
    }
}
img {
    max-width: 100%;
}
button {
    cursor: pointer;
    &:focus {
        outline: transparent;
    }
}
//------ Margins ------
.mg-top-20 {
    margin-top: 20px;
}
.mg-top-30 {
    margin-top: 30px;
}
.mg-top-40 {
    margin-top: 40px;
}
.mg-btm-10 {
    margin-bottom: 10px;
}
.mg-btm-20 {
    margin-bottom: 20px;
}
.mg-btm-30 {
    margin-bottom: 30px;
}
.mg-btm-40 {
    margin-bottom: 40px;
}
.mg-btm-50 {
    margin-bottom: 50px;
}
.mg-btm-60 {
    margin-bottom: 60px;
}
.mg-btm-70 {
    margin-bottom: 70px;
}
.mg-btm-100 {
    margin-bottom: 100px;
}

//------ Padding ------
.pad {
    &-01 {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    &-y-70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    &-y-90 {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    &-y-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.no-padding { padding: 0; }

.no-padLeft{
	padding-left: 0;
}

.no-padRight{
	padding-right: 0;
}

//  -------- Titles ------
.titulo{
	h2{
		font-size: 4rem;
		font-weight: 900;
	}
	&_blue{
		h2{
			color: $text_blue;
      font-family: Nunito-bold;
		}
	}
}

//------ Utilities ------

// IMG
.img_fit {
    object-fit: cover !important;
}

// left or right
.left { float: left; }
.right { float: right; }

// OWL CAROUSEL

// ------Fonts

@font-face {
  font-family: Nunito-light;
  src: url(/wps/wcm/connect/77159c44-d635-42ee-ab7e-1d1dd492bef9/Nunito-Light.ttf?MOD=AJPERES) format("truetype");
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family:Nunito-regular;src:url(/wps/wcm/connect/2e03d56e-ba27-4a87-a694-346fea50546b/Nunito-Regular.ttf?MOD=AJPERES) format("truetype");font-weight:400;font-display:auto;
}

@font-face {
  font-family:Nunito-semibold;src:url(/wps/wcm/connect/5788c0c5-4c17-4e27-a0b0-998ba5401e6d/Nunito-SemiBold.ttf?MOD=AJPERES) format("truetype");font-weight:600;font-display:auto;
}

@font-face {
  font-family:Nunito-bold;src:url(/wps/wcm/connect/baf0ee1f-db35-4865-9b9c-a2d8d430f35e/Nunito-Bold.ttf?MOD=AJPERES) format("truetype");font-weight:700;font-display:auto;
}

@font-face {
  font-family:Open-sans-light;src:url(/wps/wcm/connect/245162bd-4f56-41f6-8f3d-6f010e346e73/OpenSans-Light.ttf?MOD=AJPERES) format("truetype");font-display:auto;
}

@font-face {
  font-family:Open-sans-regular;src:url(/wps/wcm/connect/1d618dfc-5bc4-45e9-a532-8f87113c8bbc/OpenSans-Regular.ttf?MOD=AJPERES) format("truetype");font-display:auto;
}

@font-face {
  font-family:Open-sans-semibold;src:url(/wps/wcm/connect/133f20ad-daf1-4cdf-ad95-0fee9655da68/OpenSans-SemiBold.ttf?MOD=AJPERES) format("truetype");font-display:auto;
}

@font-face {
  font-family:Open-sans-bold;src:url(/wps/wcm/connect/62915a7b-e1ec-43d6-9f1c-eb77397902db/OpenSans-Bold.ttf?MOD=AJPERES) format("truetype");font-display:auto;
}

@font-face {
  font-family:FontAwesome;src:url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
}
