//@include backgroundIcon('fondo.svg');

.pilar{
	&_item{
		background: $bg-gray;
		@include border-radius(.5rem);
		margin: 4rem 0;
    padding: 15px 20px 15px 0px;
		position: relative;
		left: 55px;
		width: 90%;
		>div{
			align-items: center;
		}

		.pilar_image {
			img {margin-left: -70px;}
		}
		@media (max-width: 480px) {
			padding: 15px 20px 15px 15px;
			left: 33;
		}
		@media (max-width: 767px) {
			padding: 15px 20px 15px 15px;
		}
	}
	&_desc{
		margin-bottom: 2rem;
		p{
			color: $text-gray;
		}
		a{
			color: $text-blue;
			font-weight: 700;
			font-size: 1.8rem;
			font-family: $nunito;
			text-transform: uppercase;
			img {width: 15px;height: 15px;    margin-top: -3px;}
		}
	}
	&_descarga{
		p{
			color: $text-blue;
			font-family: $nunito;
			font-weight: 900;
			font-size: 2.4rem;
		}
		ul{
			li{
				img {
					width: 15px;height: 15px;margin-right: 10px;
				}
				a{
					color: $text-gray;
					text-decoration: underline;
					line-height: 2;
				}
			}
		}
	
	}

}
