.slider{
	margin-bottom: 6rem;
	position: relative;
	&_item{
		background-repeat: no-repeat !important;
		background-size: cover !important;
		min-height: 356px;
		background-position: center !important;

		@media (max-width: 480px) {background: none !important;}


		.item-center{
	    padding: 5% 0;

		@media (max-width: 480px) {
			padding: 0 15px;
		}
		}

		.col-right {


			&-slid{
				visibility: hidden;
      @media(max-width: 575px){
        padding: 0;
        background-position: 30% top !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100%;
        min-height: 320px;
				visibility: visible;
      //  background-image: url('../images/banner-ppal-movil.png');

      }
      @media(max-width:767px){}
      @media(min-width:768px){}
      @media(min-width:992px){}
      @media(min-width:1200px){}
    	}
		}

		.info-slide {
			@media (max-width: 575px) {
				padding: 8% 8% 0 8%;

				.slider_desc {
					p {
						padding-right: 0;
					}
				}
			}
			@media (max-width: 767px) {
				h2{
					font-size: 4.5rem;
				}

				p{
					padding-right: 0;
					font-size: 1.5rem;
				}
			}
		}

	}
	&_desc{
		margin: 0 auto;
		small{
			font-size: 1.8rem;
			font-weight: 700;
		}
		h2{
			font-size: 5.6rem;
			color: $text-yellow;
			font-weight: 700;
	    font-family: $nunito;
			line-height: 1;
		}
		p{
			font-size: 1.9rem;
			padding-right: 12rem;
			line-height: 1.4;
			color: #808285;
			font-family: Nunito-regular;
		}
		&--main{
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			display: flex;
			>div{
				position: relative;
				display: flex;
				align-items: center;
			}
		}
	}
	&_btn{
		a{
			min-width:15.8rem;
			display: inline-block;
			font-size: 1.6rem !important;
		}
	}
}

.content_slider {
	background-color: $bg-gray3;
	padding: 35px 104px;

	@media (max-width: 575px) {
		padding: 35px 0;
	}
	@media (max-width: 767px) {
		padding: 35px 25px;
	}

	.slick-arrow {
		background-color:transparent;
		box-shadow: none;
		border-radius: 50%;
		width: 72px; height: 72px;

		&::before,
		&::after {
			// font-family: $nunito;
			font-weight: 800;
			color: $black;
			opacity: 1;
			font-size: 24px;
		}
	}

	.slick-next {
		right: -9%;
		&::before {
			display: block;
			width: 18px;
			height: 41px;
			position: absolute;
			background: url(../../images/iconos/derecha-carrusel.svg) no-repeat;
			top: 31%;
			left: 39%;
			font-size: 0;
	 }
	}

	.slick-prev {
		left: -9%;
		&::before {
			display: block;
			width: 18px;
			height: 41px;
			position: absolute;
			background: url(../../images/iconos/izquierda-carrusel.svg) no-repeat;
			top: 32%;
			left: 35%;
			font-size: 0;
		}
	}
}

.slider-main {

	.slick-dots {
		position: absolute;
		bottom: 5%;

		@media (max-width: 575px) {top: 44%;bottom: 0;}

		li {
			margin: 0 13px;
			height: auto;
			width: auto;
			position: relative;

			button {
				height: auto;
				width: auto;
				&::before {
					color: $bg-gray4;
					background-color: $bg-gray4;
					border-radius: 50%;
					opacity: 1;
					width: 12px; height: 12px;
				}
			}

			&::after {
				content: '';
				background-color: $bg-gray4;
				height: 1px;
				left: 107%;
				top: 55%;
				position: absolute;
				width: 26px;
			}

			&:last-child {
				&::after {
					content: none;
				}
			}
		}

		.slick-active {
			button {
				&::before {
					border: solid $white 1px;
					color: $text-yellow;
					background-color: $text-yellow;
					transform: scale(1.2,1.2);
				}
			}
		}
	}
}

.banner-first {
	font-family: $nunito;
}
