//------- Variables -------

//Colors
$white      : #fff;
$black      : #454648;
$text-gray  : #808285;
$text-blue  : #00448d;
$text-yellow  : #ffd200;

$bg-gray    : #f7f7f7;
$bg-gray2   : #6d6e71;
$bg-gray3   : #e6e7e8;
$bg-gray4   : #747779;
$bg-yellow  : #ffd200;

//Fonts
$open:'Open Sans', sans-serif;
$nunito:'Nunito', sans-serif;

//Border radius
@mixin border-radius($radius) {
	border-radius: $radius;
}

//Box shadow
$box-shadow-1: 0 1px 2px rgba(black,.3);

//BreakPoints
$breakpoints-min : (
    xs-small: 481px,
    small: 576px,
    medium: 768px,
    large: 992px,
    xs-large: 1200px
);
$breakpoints-max : (
    xs-small: 480px,
    small: 575px,
    medium: 767px,
    large: 991px,
    xs-large: 1199px
);

//------- Mixins -------

$imagedir:'../../images/'; // define the base path before the mixin

// backgroundimage
@mixin backgroundImage($filename,$position:0 0,$repeat: no-repeat) {
    background: {
        image:url(#{$imagedir}#{$filename});
        position: $position;
        repeat: $repeat;
    }
}

$icondir:'../../icons/'; // define the base path before the mixin

// backgroundimage
@mixin backgroundIcon($filename,$position:0 0,$repeat: no-repeat) {
    background: {
        image:url(#{$icondir}#{$filename});
        position: $position;
        repeat: $repeat;
    }
}
// Browser Prefixes
@mixin transform($transforms) {
	transform: $transforms;
}

// Translate
@mixin translate ($x, $y){
    @include transform(translate($x, $y));
}

@mixin seudo-elm ($cont:'', $pos: absolute) {
    content: $cont;
    position: $pos;
}
@mixin center ($top:50%, $left:50%, $param1:-50%, $param2:-50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($param1,$param2);
}
@mixin center-fixed ($top:0, $left:0, $right:0, $bottom: 0) {
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    margin: auto;
}
@mixin center-y() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin reset-center() {
    position: relative;
    top: inherit;
    transform: none;
}
@mixin trans($prop, $time:.3s, $easing:linear) {
    transition: $prop $time $easing;
}
@mixin anim($name, $time:.3s, $easing:linear, $delay: 0s, $mode:forwards) {
    animation: $name $time $easing $delay $mode;
}

//------- Mixins Responsive -------
//Min
@mixin mq-min($mq-breakpoint, $mq-breakpoints: $breakpoints-min) {
    // If $mq-breakpoint is a key that exists in
    // $mq-breakpoints, get and use the value
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
      $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }

    @media (min-width: #{$mq-breakpoint}) {
      @content;
    }
}
//Max
@mixin mq-max($mq-breakpoint, $mq-breakpoints: $breakpoints-max) {
    // If $mq-breakpoint is a key that exists in
    // $mq-breakpoints, get and use the value
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
      $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }

    @media (max-width: #{$mq-breakpoint}) {
      @content;
    }
}

//Min-Max
@mixin mq-min-max($min-breakpoint, $max-breakpoint) {
    $min-breakpoint-value: map-get(map-get($breakpoints-min, $min-breakpoint), min-width);
    $max-breakpoint-value: map-get(map-get($breakpoints-max, $max-breakpoint), max-width);
    @media (min-width: #{$min-breakpoint-value}) and (max-width: #{$max-breakpoint-value}) {
        @content;
    }
}
